---
---

@import 'variables/colors';
@import 'variables/overrides';
@import 'variables/dimensions';
@import 'variables/mixins';
@import 'bootstrap/stylesheets/bootstrap';

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Base */
/* ----------------------------------------------------------*/
body {
  & > .container {
    /*padding: 60px 15px 0;*/
    padding-bottom: 15px;
  }
  min-width: 500px !important;

  .navbar{
    min-width: 500px !important;    
  }
  #footer{
    min-width: 500px !important;
  }
}

.jumbotron{
  background-color: $blue;
  color:$white;
  margin-bottom: 0;
  img.avatar{
    max-width: 72%;
  }
}

section{
  padding: 100px 0;
  @include box-shado(0px,8px,16px,-6px, rgba(0, 0, 0, 0.35));
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* 404 Styles */
/* ----------------------------------------------------------*/
#not-found{
    background:none;
  background-color: $brand-primary;
  .container{
    margin-top: 10%;
  }
  .centered{
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 300;
  }
}
/* Site header */



/* Page Content styles */
/* ----------------------------------------------------------*/

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/
code{
  margin-top: -45px;
  margin-bottom: -60px;
  &.hljs{
  
  }
}
pre{
  background-color: #444;
  overflow: hidden;
}


/* Home styles */
/* ----------------------------------------------------------*/
#what-is-it{
  text-align: center;
  text-transform: uppercase;
  h1{
    font-weight: bold;
    margin: 0 0 30px 0;
    color: lighten($brand-primary, 5%);
  }
}

#usage{
  background-color: lighten($brand-primary, 10%);
  color: $white;

  pre{
    border: none;
    @include box-shado(0px, 0px, 5px, 0px, rgba(50, 50, 50, 1))
  }
  p{
    font-size: 20pt;
    font-weight: lighter;
    line-height: 1.45em;
  }
}

#opening{
  p{
    font-size: 28px;
  }
}

#learn-more{
  background-color: $white;
  color:$brand-primary;
}

/* Documentation styles */
/* ----------------------------------------------------------*/
.section-header{
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #cfcfcf;
}
.nav-item-active{
  border-left-color: $brand-primary;
  border-left-style: solid;
  border-left-width: 0px;
  border-radius: 0px;
}
.show-left-border{
  border-left-width: 10px;
}
#documentation, #api{
  padding-top:10px;
  a{
    color:$brand-primary
  }

  .nav-pills{
    position: fixed;
    @media(max-width: $screen-md){
      position: relative;
    }
    li.active{
      a{
        background-color: transparent;
        @extend .nav-item-active;
        border-left-width: 10px;
      }
    }
    li{
      a{
        @extend .nav-item-active;  
      }
    } 
  }

  section{
    padding: 0;
    box-shadow: none;
  }
}
.doc-h{
  float: right;
  text-transform: uppercase;
}
#doc-h-authentication{
  display: block;
}
.doc-header{
  padding: 60px 15px 0;
  padding-bottom: 10px;
  background-color: $brand-primary;
  color: $white;

  .peek{
    position: absolute;
    width: 137px;
  }
}

/* Api style */
/* ----------------------------------------------------------*/
.api-class{
  width: 80%;
  .api{
    background-color: $white;
    margin: 10px;
-webkit-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px -1px 10px rgba(0, 0, 0, 0.4);
box-shadow:         0px -1px 10px rgba(0, 0, 0, 0.4);
    .api-call{
      font-size: 2em;
    }
    .api-param{
      h4{
        font-size: 1.5em;
      }
    }
    .api-header{
      padding: 10px;
      background-color: $brand-primary;
      color:$white;
      // @include box-shado(0px, -5px, 10px, 0px, rgba(0, 0, 0, 0.75))
    }
    .api-body{
      padding: 10px;
      border: 1px solid #d3d3d3;
// -webkit-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
// -moz-box-shadow:    0px -1px 10px rgba(0, 0, 0, 0.4);
// box-shadow:         0px -1px 10px rgba(0, 0, 0, 0.4);
    }
  }
}
/* Blog styles */
/* ----------------------------------------------------------*/
#blog-posts{
  padding: 60px 15px 0;
 a{
    color:$brand-primary
  }
}
#post{
 padding: 60px 15px 0;
   a{
    color:$brand-primary
  }
 .post-content{
    margin-bottom: 10px;
 }
}
/* Utils */
/* ----------------------------------------------------------*/
.plain-border{
  border-color: $blue;
}
.anchor{
  padding-top: 50px; 
  margin-top: -50px;
}

/* Sticky footer styles */
/* ----------------------------------------------------------*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
  background: white url("/img/texture.png");
}
#footer {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: $blue;
  color: $white;
}

/* Widgets */
/* ---------------------------------------------------------*/
.showcase{
  text-align: center;
  color: lighten($brand-primary, 5%);
  @include border-radius(10px);

  .fa{
    font-size: 10em;
    &:hover{
      cursor: pointer;
    }
  }
  p{
    font-size: 2em;
  }
}
.source-section{
  a{
    text-decoration: none;
    &:hover{
      cursor: pointer;
      .fa{
        -webkit-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
        -o-transform:rotate(-90deg);
      }
    }
  }
}
