---
layout: default
---
<div class="doc-header">
  <div class="container">
    <img src="{{ "/img/peekaboo-beaver.png" | prepend: site.baseurl }}" class="peek"/> 
    <h1 id="doc-h-installation" class="doc-h visible">Installation</h1>
    <h1 id="doc-h-models" class="doc-h hidden">Models</h1>
    <h1 id="doc-h-authentication" class="doc-h hidden">Authentication</h1>
    <h1 id="doc-h-json-web-tokens" class="doc-h hidden">JSON Web Tokens</h1>
    <h1 id="doc-h-customization" class="doc-h hidden">Customization</h1>
  </div>
</div>
<div id="documentation" class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a href="#installation" data-toggle="tab">
            Installation
          </a>
        </li>
        <li>
          <a href="#models" data-toggle="tab">
            Models
          </a>
        </li>
        <li>
          <a href="#authentication" data-toggle="tab">
            Authentication
          </a>
        </li>
        <li>
          <a href="#json-web-tokens" data-toggle="tab">
            Json Web Tokens
          </a>
        </li>
        <li>
          <a href="#customization" data-toggle="tab">
            Customization
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="installation">
          {% include docs/installation.html %}
        </div>
        <div class="tab-pane fade" id="models">
          {% include docs/models.html %}
        </div>
        <div class="tab-pane fade" id="authentication">
          {% include docs/authentication.html %}
        </div>

        <div class="tab-pane fade" id="json-web-tokens">
          {% include docs/json_web_tokens.html %}
        </div>

        <div class="tab-pane fade" id="customization">
          {% include docs/customization.html %}
        </div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
  $('#documentation  ul.nav  li  a').click(function(e){
    // save the link click in the url
    location.hash = $(e.target).attr('href').split('#')[1];

    // hide all the headers
    $('.doc-h').removeClass('visible').addClass('hidden');
    // animate all of the tabs closed
    $('#documentation ul.nav li a').not(e.target).stop().animate({'border-left-width': "0px"},200);

    var id = $(e.target).attr('href');
    var docId = '#doc-h-'+id.substr(1, id.length);
    $(docId).removeClass('hidden').addClass('visible');
    
    //idk
    $(window).scrollTop(0);
  });

  $('#documentation ul.nav li a').mouseover(function(e){
    if(!$(e.target).parent().hasClass('active')){
      $(e.target).stop().animate({"border-left-width": "10px"},200);
    }
  });
  $('#documentation ul.nav li a').mouseout(function(e){
    if(!$(e.target).parent().hasClass('active')){
      $(e.target).stop().animate({"border-left-width": "0px"},200);
    }
  });

  if(location.hash.length != 0){
    setTimeout(function(){
      $('[href="'+location.hash+'"]').click();
    }, 500);
  }

  $('.source-toggle').click(function(e){
    $(e.target).closest('.source-section').find('.source').slideToggle();
  });
});
</script>