/* Typography */
/******************************************/
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;


/* Colors */
/******************************************/
$brand-primary: $base-color;
$link-color: $link-color; //for the sake of clarity 
$body-bg: $background-color; 

/* Navbar */
/******************************************/
$navbar-default-bg: $base-color;
$navbar-default-color: $white;
$navbar-default-link-color: $white;